@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-background text-foreground;
}

h1 {
  @apply text-3xl font-bold;
}

h2 {
  @apply text-2xl font-semibold;
}

label {
  @apply text-sm font-semibold;
}
